<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.newsapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:name=".NewsApp"
        android:icon="@drawable/news_logo_header"
        android:label="@string/app_name"
        android:roundIcon="@drawable/news_logo_header"
        android:supportsRtl="true"
        android:theme="@style/Theme.NewsApp">
        <activity android:name=".feature.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".feature.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW "/>
                    <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE "/>
                <data android:scheme="https" android:host="www.newsappsekolahmu.com"/>
            </intent-filter>
        </activity>
        <activity android:name=".base.BaseActivity"></activity>

    </application>
</manifest>